[Unit]
Description=Run backupbd day

[Timer]
OnBootSec=1min
OnCalendar=daily
Persistent=true
AccuracySec=1m
Unit=one-c-backup.service

[Install]
WantedBy=timers.target
